In [1]:
from ipynb.fs.full.data_pipeline import get_url, get_acled_dataframe

In [3]:
# Example

url = get_url(limit=1000, notes='covid')
df = get_acled_dataframe(url)
df.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,9491260,410,KOR25204,25204,2022-09-15,2022,1,Protests,Peaceful protest,Protesters (South Korea),...,Seoul City - Yeongdeungpo,37.5223,126.9075,1,YNA,National,"On 15 September 2022, members of the COVID-19 ...",0,1663685720,KOR
1,9491188,410,KOR25184,25184,2022-09-10,2022,1,Protests,Peaceful protest,Protesters (South Korea),...,Seoul City - Yongsan,37.5314,126.9801,1,News1,National,"On 10 September 2022, members of the COVID-19 ...",0,1663685720,KOR
2,9472663,554,NZL452,452,2022-08-31,2022,1,Protests,Peaceful protest,Protesters (New Zealand),...,Christchurch,-43.5270,172.6169,1,RNZ,National,"On 31 August 2022, around 60 anti-government p...",0,1663076930,NZL
3,9479616,196,CYP1261,1261,2022-08-31,2022,1,Protests,Peaceful protest,Protesters (Cyprus),...,Nicosia,35.1753,33.3642,1,Cyprus Mail,National,"On 31 August 2022, the Union of United Parents...",0,1663096248,CYP
4,9475224,356,IND117898,117898,2022-08-28,2022,1,Protests,Peaceful protest,Protesters (India),...,Guwahati,26.1892,91.7722,3,Sentinel (India),Subnational,"On 28 August 2022, members the Assam Rail Pass...",0,1663080026,IND

In [5]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [data_id, iso, event_id_cnty, event_id_no_cnty, event_date, year, time_precision, event_type, sub_event_type, actor1, assoc_actor_1, inter1, actor2, assoc_actor_2, inter2, interaction, region, country, admin1, admin2, admin3, location, latitude, longitude, geo_precision, source, source_scale, notes, fatalities, timestamp, iso3]
Index: []

[0 rows x 31 columns]