In [1]:
from ipynb.fs.full.data_pipeline import get_url, get_acled_dataframe

In [3]:
# Example

# url = get_url(limit=1000000, notes='covid')
# df = get_acled_dataframe(url)
# len(df)
url = get_url(limit=1000000, notes='coronavirus')
df2 = get_acled_dataframe(url)
len(df2)

64381

In [5]:
df2.head(1)

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,9491030,410,KOR25174,25174,2022-09-16,2022,1,Protests,Peaceful protest,Protesters (South Korea),...,Seoul City - Seocho,37.4744,127.0304,1,EDaily,National,"On 16 September 2022, members of the All-Korea...",0,1663685720,KOR