In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../data/acled_covid19.csv')

In [8]:
pd.set_option('max_colwidth',1000)
ex1 = df[df.notes.str.contains('coronavirus')].head(1)[['data_id', 'event_date', 'sub_event_type', 'notes']]
ex2 = df[df.notes.str.contains('COVID-19')].head(1)[['data_id', 'event_date', 'sub_event_type', 'notes']]

pd.concat([ex1,ex2])

,data_id,event_date,sub_event_type,notes
0,9498574,2022-09-17,Peaceful protest,"On 17 September 2022, in Ciudad Bolivar (Bolivar), workers of the state-owned Venezuelan Corporation of Guayana (CVG) Bauxilum plant protested to demand their reinstatement in the company after being laid off due to the coronavirus pandemic. The protest took place in Ruiz Pineda park. [size=no report]"
3,9491260,2022-09-15,Peaceful protest,"On 15 September 2022, members of the COVID-19 Vaccine Victims' Family Council held a press conference with a banner and picketed in front of the National Assembly (Seoul City - Yeongdeungpo). They urged the authority to acknowledge the side effects of coronavirus vaccine inoculation and compensate the victims. [size=no report]"

In [13]:
ex_df = pd.read_csv('../data/EXPANDED_acled_covid19.csv')
ex_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'data_id', 'iso', 'event_id_cnty',
       'event_id_no_cnty', 'event_date', 'year', 'time_precision',
       'event_type', 'sub_event_type', 'actor1', 'assoc_actor_1', 'inter1',
       'actor2', 'assoc_actor_2', 'inter2', 'interaction', 'region', 'country',
       'admin1', 'admin2', 'admin3', 'location', 'latitude', 'longitude',
       'geo_precision', 'source', 'source_scale', 'notes', 'fatalities',
       'timestamp', 'iso3', 'source_singular', 'source_list'],
      dtype='object')

In [32]:
data_ids = [9466689, 9498574, 9492040]
cols = ['data_id', 'event_date', 'location', 'source']
df[df.data_id.isin(data_ids)][cols]

,data_id,event_date,location,source
0,9498574,2022-09-17,Ciudad Bolivar,Diario Primicia
9,9492040,2022-09-12,Halle (Saale),Mitteldeutschen Zeitung; Mitteldeutscher Rundfunk
14,9466689,2022-09-09,Vingt Cinq,Le Mauricien; Defi Media; L'Express (Mauritius)

In [33]:
ex_df[ex_df.data_id.isin(data_ids)][cols + ['source_singular']]

,data_id,event_date,location,source,source_singular
0,9498574,2022-09-17,Ciudad Bolivar,Diario Primicia,Diario Primicia
9,9492040,2022-09-12,Halle (Saale),Mitteldeutschen Zeitung; Mitteldeutscher Rundfunk,Mitteldeutschen Zeitung
10,9492040,2022-09-12,Halle (Saale),Mitteldeutschen Zeitung; Mitteldeutscher Rundfunk,Mitteldeutscher Rundfunk
15,9466689,2022-09-09,Vingt Cinq,Le Mauricien; Defi Media; L'Express (Mauritius),Le Mauricien
16,9466689,2022-09-09,Vingt Cinq,Le Mauricien; Defi Media; L'Express (Mauritius),Defi Media
17,9466689,2022-09-09,Vingt Cinq,Le Mauricien; Defi Media; L'Express (Mauritius),L'Express (Mauritius)